
!/Labview/ControlCAN.dll


!LabviewNew/**/*.ini
*.obj
*.dll
*.exe
*.o
*.i
*.d
*.crf
*.bin
*.elf
*.hex
*.swp

*.out
*.log
*.uvguix.*
.vscode

**/MDK-ARM/**

**/MDK-ARM/DebugConfig/*
**/MDK-ARM/RTE/*
.mxproject
!*.opt
*.uvgui.*
*.uvguix.*
!*.uvmpw
!*.uvproj
!*.uvprojx
*.uvopt
*.uvoptx
!*.uv2
*.cod
*.htm
*.i
*.lst
*.map
*.m51
*.m66
*.scr
*.axf
*.b[00-31]
*.d
*.crf
*.elf
*.hex
*.h86
*.lib
*.obj
*.axf
*.o
*.sbr

# build files
*.bat
*._ia
*.__i
*._ii
*.scr

# debugger files
*.ini

# other files
*.build_log.htm
*.cdb
*.dep
*.ic
*.lin
*.lnp
*.orc
*.pack
*.pdsc
*.plg
project_gui.xsd
project_mpw.xsd
project_opt.xsd
project_proj.xsd
*.sct
*.uvl
*.uvla
*.uvtsk
*.sfd
*.sfr
*.svd.xml
*.svd
*.xml
**/build/*
!*.s
*.lst
**/JLinkLog.txt
**/DebugConfig/*
OBJ/**
*.scvd
!.gitkeep
/tests/libs
/F303
